Source: libgrace
Section: misc
Priority: optional
Maintainer: OpenPanel/Panel6 packager <packages@panelsix.com>
Build-Depends: debhelper (>= 5), libpcre3-dev, libgdbm-dev, libdb4.6-dev, libsqlite3-dev
Standards-Version: 3.7.2

Package: libgrace
Architecture: any
Depends: 
Description: libgrace
 The grace c++ library.

Package: libgrace-dev
Architecture: any
Depends: 
Replaces: libgrace-devel
Conflicts: libgrace-devel
Provides: libgrace-devel
Description: libgrace
 The grace c++ library.

Package: libgrace-dbfile
Architecture: any
Depends: 
Description: libgrace
 The grace c++ library.

Package: libgrace-dbfile-dev
Architecture: any
Depends: 
Replaces: libgrace-dbfile-devel
Conflicts: libgrace-dbfile-devel
Provides: libgrace-dbfile-devel
Description: libgrace
 The grace c++ library.

Package: libgrace-pcre
Architecture: any
Depends: libpcre3
Description: libgrace
 The grace c++ library.

Package: libgrace-querido
Architecture: any
Depends: 
Description: libgrace
 The grace c++ library.

Package: libgrace-querido-dev
Architecture: any
Depends: 
Replaces: libgrace-querido-devel
Conflicts: libgrace-querido-devel
Provides: libgrace-querido-devel
Description: libgrace
 The grace c++ library.

Package: libgrace-ssl
Architecture: any
Depends: 
Description: libgrace
 The grace c++ library.

Package: libgrace-ssl-dev
Architecture: any
Depends: 
Replaces: libgrace-ssl-devel
Conflicts: libgrace-ssl-devel
Provides: libgrace-ssl-devel
Description: libgrace
 The grace c++ library.
