# ---------------------------------------------------------------------------
# Figure out path to GRACE include
# ---------------------------------------------------------------------------

saypending "looking for dbfile include"
for loc in /sw/include /usr/local/include /usr/X11R6/include /usr/include $HOME/include ../../include $HOME/.include; do
  if [ -f "$loc/dbfile/dbfile.h" ]; then
    DBFILEINC="$loc"
  fi
done
if [ -z "$DBFILEINC" ]; then
  sayfail "failed"
  exit 1
fi
saypass "$DBFILEINC"

# ---------------------------------------------------------------------------
# Figure out path to GRACE static library
# ---------------------------------------------------------------------------

saypending "looking for dbfile library"
for loc in /sw/lib /usr/lib32 /usr/lib64 /usr/lib /usr/local/lib /usr/freeware/lib $HOME/lib $HOME/.lib ../../lib; do
  if [ -f "$loc/libdbfile.$DYNEXT" ]; then
    LIBDBFILE="-ldbfile"
  fi
done
if [ -z "$LIBDBFILE" ]; then
  sayfail "failed"
  exit 1
fi
saypass "$LIBDBFILE"

