# ---------------------------------------------------------------------------
# Cause a fake failure
# ---------------------------------------------------------------------------

saypending "causing fake failure"

sayfail "failed"
exit 1
