# ---------------------------------------------------------------------------
# Figure out path to Grace SSL library
# ---------------------------------------------------------------------------

saypending "looking for grace-pcre library"
for loc in /sw/lib /usr/lib32 /usr/lib /usr/local/lib /usr/freeware/lib /lib64 /usr/lib64 /usr/local/lib64 $HOME/lib $HOME/.lib ../../lib; do
  if [ -f "$loc/libgrace-pcre.$DYNEXT" ]; then
    LIBGRACEPCRE="-lgrace-pcre"
  fi
done
if [ -z "$LIBGRACEPCRE" ]; then
  sayfail "failed"
  exit 1
fi
saypass "$LIBGRACEPCRE"

