# ---------------------------------------------------------------------------
# Figure out whether we need libsocket
# ---------------------------------------------------------------------------

cat >conftest.c <<EOF
#include <sys/types.h>
#include <sys/socket.h>

int main (int argc, char *argv[])
{
    int test = socket(PF_INET, SOCK_STREAM, 0);
    return 1;
}
EOF

saypending "checking whether socket needs -lsocket"
if $COMPILER $COMPILERFLAGS -o conftest conftest.c >>configure.log 2>&1; then
  LIBSOCKET=""
  saypass "no"
else
  LIBSOCKET="-lsocket"
  saypass "yes"
fi

rm -f conftest.c conftest

# ---------------------------------------------------------------------------
# Figure out whether we need libnsl
# ---------------------------------------------------------------------------

cat >conftest.c <<EOF
#include <netdb.h>

int main (int argc, char *argv[])
{
	struct hostent *h = gethostbyname("localhost");
    return 1;
}
EOF

saypending "checking whether gethostbyname needs -lnsl"
if $COMPILER $COMPILERFLAGS -o conftest conftest.c >>configure.log 2>&1; then
  LIBNSL=""
  saypass "no"
else
  LIBNSL="-lnsl"
  saypass "yes"
fi

rm -f conftest.c conftest

# ---------------------------------------------------------------------------
# Figure out whether socklen_t is defined
# ---------------------------------------------------------------------------

cat >conftest.c <<EOF
#include <sys/types.h>
#include <sys/socket.h>
#include <netinet/in.h>
#include <arpa/inet.h>

int main(int argc, char *argv[])
{
	socklen_t len = (socklen_t) 4;
	return 1;
}
EOF

saypending "checking whether socklen_t needs to be defined"
if $COMPILER $COMPILERFLAGS -o conftest conftest.c >> configure.log 2>&1; then
  SOCKLEN_TYPEDEF=""
  saypass "no"
else
  SOCKLEN_TYPEDEF="typedef int socklen_t;"
  saypass "yes"
fi

rm -f conftest conftest.c


