# ---------------------------------------------------------------------------
# Figure out path to mysql include
# ---------------------------------------------------------------------------

saypending "looking for sqlite3 include"
for loc in /opt/local/include /usr/local/include /usr/include ; do
  if [ -f "$loc/sqlite3.h" ]; then
    SQLITE3INC="$loc"
  fi
done
if [ -z "$SQLITE3INC" ]; then
  sayfailsoft "failed"
else
  saypass "$SQLITE3INC"
  ISQLITE3INC="-I${SQLITE3INC}"
fi

# ---------------------------------------------------------------------------
# Figure out path to sqlite3 static library
# ---------------------------------------------------------------------------

saypending "looking for sqlite3 library"
echo 'int main(){}' > conftest.cpp
$CXX -o conftest.bin conftest.cpp -lsqlite3 >/dev/null 2>&1 && SQLITE3LIB="-lsqlite3"
rm -f conftest.bin conftest.cpp

if [ -z "$SQLITE3LIB" ]; then
  for loc in /opt/local/lib /usr/local/lib /usr/lib64 /usr/lib $(find /usr/lib -type d); do
    if [ -f "$loc/libsqlite3.so" ]; then
      SQLITE3LIB="-L$loc -lsqlite3"
    elif [ -f "$loc/libsqlite3.dylib" ]; then
      SQLITE3LIB="-L$loc -lsqlite3"
    fi
  done
fi

if [ -z "$SQLITE3LIB" ]; then
  for loc in /opt/local/lib /usr/local/lib /usr/lib64 /usr/lib $(find /usr/lib -type d); do
    if [ -f "$loc/libsqlite3.a" ]; then
      SQLITE3LIB="$loc/libsqlite3.a"
    fi
  done
fi

if [ -z "$SQLITE3LIB" ]; then
  sayfailsoft "failed"
else
  saypass "$SQLITE3LIB"
  HAVESQLITE3="-DHAVE_SQLITE3"
fi

