# ---------------------------------------------------------------------------
# Figure out if the system supports linux-style sendfile()
# ---------------------------------------------------------------------------


saypending "checking for sendfile() support"
cat > conftest.cpp << EOF
#include <stdio.h>
#include <sys/types.h>
#include <sys/sendfile.h>

int main (int argc, char *argv[])
{
	off_t offs;
	sendfile (1, 1, &offs, 1);
}
EOF
if $CXX $CXXFLAGS -o conftest conftest.cpp >> configure.log 2>&1; then
  HAVE_SENDFILE="#define HAVE_SENDFILE 1"
  saypass "yes"
else
  saypass "no"
fi
rm -f conftest.cpp conftest >/dev/null 2>&1
